<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDY4K5xc-0nuKpN5FSw2VBIOdgSVJGr4co</string>
	<key>GCM_SENDER_ID</key>
	<string>590625225178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>luchonic.DolarToArg</string>
	<key>PROJECT_ID</key>
	<string>dolartoarg</string>
	<key>STORAGE_BUCKET</key>
	<string>dolartoarg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590625225178:ios:35b2ea6dae66ce806728e3</string>
</dict>
</plist>